.bubble-div{
    display: flex;
    overflow-y  :hidden;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.righter{
    justify-content: flex-end;
    margin-right: 20px;
}
.lefter{
    justify-content: flex-start;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.img-div{
    height:50px;
    width: 50px;
    border-radius: 30px;
    margin-right: 10px;
}
.img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.context {
    max-width: 40%;
    min-width: 10%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 16px;
    background-color: whitesmoke;
    border-radius: 100px;
    overflow-wrap: break-word;
    padding: 5px 20px;
}
